<h2>Overview</h2>
<nav>
  <ul class="pager">
    <li class="previous"><%= previous_month(@conn, @chosen_month) %></li>
    <li><span><%= @chosen_month %></span></li>
    <li class="next"><%= next_month(@conn, @chosen_month) %></li>
  </ul>
</nav>
<table class="table">
  <thead>
    <tr>
      <th>Gestart om</th>
      <th>Commentaar</th>
      <th>Gestopt om</th>
      <th>Commentaar</th>
      <th>Totaal gewerkte uren</th>
    </tr>
  </thead>
  <tbody>
    <%= for entry <- @overview do %>
      <tr>
        <td><%= pretty_print(entry.in) %></td>
        <td><%= comment(entry.in) %></td>
        <td><%= pretty_print(entry.out) %></td>
        <td><%= comment(entry.out) %></td>
        <td><%= entry.hours_worked %></td>
      </tr>
    <% end %>
  </tbody>
</table>
