<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below:</p>
      <ul>
        <%= for {attr, message} <- f.errors do %>
          <li><%= humanize(attr) %> <%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= datetime_select f, :datetime, class: "form-control", builder: fn b -> %>
  <div class="form-group">
    <label class="control-label">Datum</label>
    <div class="row">
      <div class="col-xs-4">
        <%= b.(:day, class: "form-control") %>
      </div>
      <div class="col-xs-4">
        <%= b.(:month, class: "form-control") %>
      </div>
      <div class="col-xs-4">
        <%= b.(:year, class: "form-control") %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label">Tijd</label>
    <div class="row">
      <div class="col-xs-6">
        <%= b.(:hour, class: "form-control") %>
      </div>
      <div class="col-xs-6">
        <%= b.(:min, class: "form-control") %>
      </div>
    </div>
  </div>
  <% end %>

  <div class="form-group">
    <%= label f, :type, "Type", class: "control-label" %>
    <%= select f, :type, ["IN", "OUT"], class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label f, :comment, "Commentaar", class: "control-label" %>
    <%= textarea f, :comment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
    <%= link "Cancel", to: @back, class: "btn btn-default" %>
  </div>
<% end %>
