<h2>Listing entries</h2>

<%= link "Nieuwe boeking", to: entry_path(@conn, :new), class: "btn btn-primary" %>

<table class="table">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Type</th>
      <th>Commentaar</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for entry <- @entries do %>
    <tr>
      <td><%= pretty_print entry.datetime %></td>
      <td><%= entry.type %></td>
      <td><%= entry.comment %></td>

      <td class="text-right">
        <%= link "Pas aan", to: entry_path(@conn, :edit, entry), class: "btn btn-default btn-xs" %>
        <%= link "Verwijder", to: entry_path(@conn, :delete, entry), method: :delete, data: [confirm: "Ben je zeker?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
