<h2>Show entry</h2>

<ul>

  <li>
    <strong>Date/Time:</strong>
    <%= @entry.datetime %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @entry.type %>
  </li>

</ul>

<%= link "Edit", to: entry_path(@conn, :edit, @entry) %>
<%= link "Back", to: entry_path(@conn, :index) %>
